# Node.js
node_modules/
npm-debug.log
yarn-error.log
Laboratory Information System.zip

# Laravel
/vendor
.env
backup.js
/public/storage

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# IDE settings
.vscode/
.idea/
*.
